In [1]:
# by geanclm in 19/04/2022

# Dataset

[Dataset](https://grouplens.org/datasets/movielens/100k/?utm_source=ActiveCampaign&utm_medium=email&utm_content=%237DaysOfCode+-+Ci%C3%AAncia+de+Dados+4%2F7%3A+%F0%9F%91%A9%F0%9F%8F%BD%E2%80%8D%F0%9F%92%BB+Sistemas+de+recomenda%C3%A7%C3%A3o&utm_campaign=%5BAlura+%237Days+Of+Code%5D%28Java%29+Dia+4%2F7%3A+Gerando+o+HTML)

# Local files

In [1]:
!dir

 O volume na unidade C ‚ Windows
 O N£mero de S‚rie do Volume ‚ 2656-7D0D

 Pasta de C:\Users\geanc\Downloads\DATA SCIENCE\GitHub\7DaysOfCode\MovieLens

24/04/2022  11:29    <DIR>          .
24/04/2022  11:29    <DIR>          ..
24/04/2022  11:14    <DIR>          .ipynb_checkpoints
22/04/2022  10:40    <DIR>          ml-100k
22/04/2022  10:39             6.748 ml-100k-README.txt
24/04/2022  11:29            44.701 MovieLens_csv.ipynb
               2 arquivo(s)         51.449 bytes
               4 pasta(s)   620.675.092.480 bytes dispon¡veis

# Import Libs

In [2]:
import pandas as pd

<center style="font-size:18pt; background-color:#a3d5a7">
    <br/><b><FONT COLOR="#000000">Sistema de recomendação</FONT><br/><b>&nbsp;</center>

In [11]:
# Fonte de dados
# https://grouplens.org/datasets/movielens/100k/?utm_source=ActiveCampaign&utm_medium=email&utm_content=%237DaysOfCode+-+Ci%C3%AAncia+de+Dados+4%2F7%3A+%F0%9F%91%A9%F0%9F%8F%BD%E2%80%8D%F0%9F%92%BB+Sistemas+de+recomenda%C3%A7%C3%A3o&utm_campaign=%5BAlura+%237Days+Of+Code%5D%28Java%29+Dia+4%2F7%3A+Gerando+o+HTML

In [26]:
# LER DIRETAMENTE O ARQUIVO TXT
# with open('u.data', "r") as arquivo:
#     dados = arquivo.read()
#     print (dados)

# Load Dataset

In [3]:
uData = r'C:\Users\geanc\Downloads\DATA SCIENCE\GitHub\7DaysOfCode\MovieLens\ml-100k\ml-100k\u.data'
uItem = r'C:\Users\geanc\Downloads\DATA SCIENCE\GitHub\7DaysOfCode\MovieLens\ml-100k\ml-100k\u.item'

In [4]:
# u.data     -- The full u data set, 100000 ratings by 943 users on 1682 items.
#               Each user has rated at least 20 movies.  Users and items are
#               numbered consecutively from 1.  The data is randomly
#               ordered. This is a tab separated list of 
#               user id | item id | rating | timestamp. 
#               The time stamps are unix seconds since 1/1/1970 UTC

df_MovieLens_uData = pd.read_csv(uData, sep='\t')

In [5]:
df_MovieLens_uData.head(1)

   196  242  3  881250949
0  186  302  3  891717742

In [6]:
# u.item     -- Information about the items (movies); this is a tab separated
#               list of
# --
#               movie id | movie title | release date | video release date |
#               IMDb URL | unknown | Action | Adventure | Animation |
#               Children's | Comedy | Crime | Documentary | Drama | Fantasy |
#               Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |
#               Thriller | War | Western |
# ---
#               The last 19 fields are the genres, a 1 indicates the movie
#               is of that genre, a 0 indicates it is not; movies can be in
#               several genres at once.
#               The movie ids are the ones used in the u.data data set.

df_MovieLens_uItem = pd.read_csv(uItem, sep='|', encoding='latin-1', header=None)

In [7]:
df_MovieLens_uItem.head(1)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

# Data Preparation

In [6]:
# adicionar os dados de cada título das colunas para um registro do dataframe
# ETAPA SUPERADA COM OUTRO RECURSO UTILIZADO NO PRÓXIMO DATAFRAME (df_MovieLens_uItem)
df_MovieLens_uData.loc[len(df_MovieLens_uData)] = df_MovieLens_uData.columns

In [7]:
# renomear colunas para melhor identificação de acordo com o README
# ETAPA SUPERADA COM OUTRO RECURSO UTILIZADO NO PRÓXIMO DATAFRAME (df_MovieLens_uItem)
df_MovieLens_uData.rename(columns={'196':'userId',
                             '242':'itemId',
                             '3':'rating',
                             '881250949':'timestamp'}, inplace=True)

In [8]:
# converter as colunas para inteiros
df_MovieLens_uData['userId'] = pd.to_numeric(df_MovieLens_uData['userId'])
df_MovieLens_uData['itemId'] = pd.to_numeric(df_MovieLens_uData['itemId'])
df_MovieLens_uData['rating'] = pd.to_numeric(df_MovieLens_uData['rating'])

#### Renomear colunas do Dataframe 'df_MovieLens_uItem' com os nomes README

In [52]:
df_MovieLens_uItem.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23],
           dtype='int64')

In [48]:
l1 = [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10,
      11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
l2 = ['movieId','movieTitle','releaseDate','videoReleaseDate','imdbUrl',
'unknown','Action','Adventure','Animation','Childrens','Comedy','Crime',
'Documentary','Drama','Fantasy','FilmNoir','Horror','Musical','Mystery',
'Romance','SciFi','Thriller','War','Western']

In [50]:
len(l1)

24

In [51]:
len(l2)

24

In [56]:
for i in l1:
    df_MovieLens_uItem.rename(columns={l1[i]:l2[i]}, inplace=True)

In [58]:
df_MovieLens_uItem.columns

Index(['movieId', 'movieTitle', 'releaseDate', 'videoReleaseDate', 'imdbUrl',
       'unknown', 'Action', 'Adventure', 'Animation', 'Childrens', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Fantasy', 'FilmNoir', 'Horror',
       'Musical', 'Mystery', 'Romance', 'SciFi', 'Thriller', 'War', 'Western'],
      dtype='object')

In [57]:
df_MovieLens_uItem

,movieId,movieTitle,releaseDate,videoReleaseDate,imdbUrl,unknown,Action,Adventure,Animation,Childrens,...,Fantasy,FilmNoir,Horror,Musical,Mystery,Romance,SciFi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Juntar os dois dataframes para consultar a base completa

In [92]:
# df_MovieLens_uData

In [93]:
# df_MovieLens_uItem

In [76]:
df_MovieLens_uData_index = df_MovieLens_uData.set_index('itemId')
df_MovieLens_uItem_index =  df_MovieLens_uItem.set_index('movieId')

In [91]:
df_MovieLens_uData_uItem = df_MovieLens_uData_index.merge(df_MovieLens_uItem_index,
                               left_index=True, right_index=True, how='outer')

# Data visualization

In [72]:
df_MovieLens_uData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100000 non-null  int64
 1   itemId     100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  object
dtypes: int64(3), object(1)
memory usage: 3.8+ MB

In [98]:
df_MovieLens_uData_uItem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 1 to 1682
Data columns (total 26 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   userId            100000 non-null  int64
 1   rating            100000 non-null  int64
 2   timestamp         100000 non-null  object
 3   movieTitle        100000 non-null  object
 4   releaseDate       99991 non-null   object
 5   videoReleaseDate  0 non-null       float64
 6   imdbUrl           99987 non-null   object
 7   unknown           100000 non-null  int64
 8   Action            100000 non-null  int64
 9   Adventure         100000 non-null  int64
 10  Animation         100000 non-null  int64
 11  Childrens         100000 non-null  int64
 12  Comedy            100000 non-null  int64
 13  Crime             100000 non-null  int64
 14  Documentary       100000 non-null  int64
 15  Drama             100000 non-null  int64
 16  Fantasy           100000 non-null  int64
 17  FilmNoir          100000 non-null  int64
 18  Horror            100000 non-null  int64
 19  Musical           100000 non-null  int64
 20  Mystery           100000 non-null  int64
 21  Romance           100000 non-null  int64
 22  SciFi             100000 non-null  int64
 23  Thriller          100000 non-null  int64
 24  War               100000 non-null  int64
 25  Western           100000 non-null  int64
dtypes: float64(1), int64(21), object(4)
memory usage: 20.6+ MB

In [9]:
df_MovieLens_uData

       userId  itemId  rating  timestamp
0         186     302       3  891717742
1          22     377       1  878887116
2         244      51       2  880606923
3         166     346       1  886397596
4         298     474       4  884182806
...       ...     ...     ...        ...
99995     716     204       5  879795543
99996     276    1090       1  874795795
99997      13     225       2  882399156
99998      12     203       3  879959583
99999     196     242       3  881250949

[100000 rows x 4 columns]

In [74]:
df_MovieLens_uData.describe()

             userId         itemId         rating
count  100000.00000  100000.000000  100000.000000
mean      462.48475     425.530130       3.529860
std       266.61442     330.798356       1.125674
min         1.00000       1.000000       1.000000
25%       254.00000     175.000000       3.000000
50%       447.00000     322.000000       4.000000
75%       682.00000     631.000000       4.000000
max       943.00000    1682.000000       5.000000

In [43]:
df_MovieLens_uItem.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23],
           dtype='int64')

<center style="font-size:18pt; background-color:#b5eaf7">
    <br/><b>RECOMENDAÇÃO DE 5 FILMES COM CINCO ESTRELAS</b><br/>&nbsp;</center>

In [97]:
# df_MovieLens_uData[df_MovieLens_uData['rating']==5].sample(5)
df_MovieLens_uData_uItem[df_MovieLens_uData_uItem['rating']==5].sample(5)['movieTitle']

1074    Reality Bites (1994)
124         Lone Star (1996)
628          Sleepers (1996)
576       Cliffhanger (1993)
1038       Switchback (1997)
Name: movieTitle, dtype: object

<center style="font-size:18pt; background-color:#b5eaf7">
    <br/><b>RECOMENDAÇÃO ALEATÓRIA DE 5 FILMES</b><br/>&nbsp;</center>

In [64]:
df_MovieLens_uItem.sample(5)['movieTitle']

1484                           Colonel Chabert, Le (1994)
50                             Legends of the Fall (1994)
1213    In the Realm of the Senses (Ai no corrida) (1976)
543        Things to Do in Denver when You're Dead (1995)
52                            Natural Born Killers (1994)
Name: movieTitle, dtype: object

<center style="font-size:18pt; background-color:#b5eaf7">
    <br/><b>RECOMENDAÇÃO ALEATÓRIA DE 5 FILMES DE ROMANCE</b><br/>&nbsp;</center>

In [72]:
# df_MovieLens_uItem.sample(5)['Romance']
df_MovieLens_uItem[df_MovieLens_uItem['Romance']==1].sample(5)['movieTitle']

1384    Roseanna's Grave (For Roseanna) (1997)
69          Four Weddings and a Funeral (1994)
746                        Benny & Joon (1993)
1609        Truth or Consequences, N.M. (1997)
1123                Farewell to Arms, A (1932)
Name: movieTitle, dtype: object

In [102]:
df_MovieLens_uData_uItem.columns

Index(['userId', 'rating', 'timestamp', 'movieTitle', 'releaseDate',
       'videoReleaseDate', 'imdbUrl', 'unknown', 'Action', 'Adventure',
       'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'FilmNoir', 'Horror', 'Musical', 'Mystery', 'Romance',
       'SciFi', 'Thriller', 'War', 'Western'],
      dtype='object')

In [104]:
# clientes mais ativos na sistema de avaliação de filmes
# Sugestão: conceder algum brinde! :-)
df_MovieLens_uData_uItem['userId'].value_counts()

405    737
655    685
13     636
450    540
276    518
      ...
147     20
19      20
572     20
636     20
895     20
Name: userId, Length: 943, dtype: int64